.container{
    width: 80%;
}.contact{
    width: 100%;
    background-color: rgba(126, 117, 247, 0.995);
    border-radius: 20px;
    margin: 3px auto;
}
.connect{
    margin: 2px auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.calling{
    margin: 2px auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.mailus,.callus{
    margin: 20px;
}
.mailus a{
    color: black;
    text-decoration: none;
}
.callus a{
    color: black;
    text-decoration: none;
}
.footer {
    color: black;
}
.ig{
    margin: 3rem;
    color: black;
}
.fb{
    margin: 3rem;
    color: black;
}